
.error-icon {
    text-align: center; font-size: 120px; padding: 60px 0 20px 0; color: #F56C6C;
}

.error-message {
    text-align: center; font-size: 24px; height: 50px; line-height: 50px;
}

.error-timer {
    text-align: center; height: 30px; line-height: 30px;
}