


.theme-center .box{ border:#D0D0D0 1px solid; border-radius: 4px;}
.theme-center .box .box-title{ background-color:#F2F2F2; height:30px; line-height:30px; border-bottom:#D0D0D0 1px solid; padding-left:10px;}
.theme-center .box .box-body{ padding:10px;}


.theme-center .recent_logs{margin-top:20px;}
.theme-center .recent_logs .box .box-body{ padding:0px;}
.theme-center .recent_logs .admin_ui_listing .listing thead th{ background-color:#FFFFFF;}
.theme-center .recent_logs .toolbar,
.theme-center .recent_logs tfoot{ display:none; }


