body {
    margin: 0;
    min-width: 320px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
}

a:active, a:hover {
    outline: none;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.be-west .be-section:first-child > div,
.be-center .be-section:first-child > div,
.be-east .be-section:first-child > div  {
    margin-top: 0 !important;
}