html {
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
}

[v-cloak] {display: none;}
[class^="el-icon-fa"],
[class*="el-icon-fa"] {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: FontAwesome!important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-submenu__title i,
.el-menu-item i {
    color: inherit;
}

.el-submenu .el-link,
.el-menu-item .el-link {
    display: block;
}

.be-west {
    width: 200px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #30354d;
    z-index: 999;
    overflow: hidden;
}

.be-west-collapse {
    width: 64px !important;
}

.be-west .logo {
    height: 60px;
    line-height: 60px;
    background: #22273b url("../images/logo.png") no-repeat;
}

.be-west .logo a{
    display: block;
    height: 60px;
}


.be-west .menu {
    position: absolute;
    top: 60px;
    bottom: 40px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.be-west .menu::-webkit-scrollbar {
    width: 6px;
}

.be-west .menu::-webkit-scrollbar-thumb {
    background-color: #59648f;
}

.be-west .menu::-webkit-scrollbar-track {
    background-color: #22273b;
}

.be-west .menu .el-menu {
    border-right: 0;
}

.be-west .menu .el-menu-item,
.be-west-popup-menu .el-menu-item,
.be-west .menu .el-submenu__title {
    height: 40px;
    line-height: 40px;
}

.be-west .menu .el-menu-item,
.be-west-popup-menu .el-menu-item {
    padding: 0 !important;
}

.be-west .menu .el-menu-item .el-link,
.be-west-popup-menu .el-menu-item .el-link {
    color: #aaa;
    padding-left: 20px !important;
}

.be-west .menu .el-menu-item .el-link span {
    margin-left: 0;
}

.be-west .menu .el-submenu .el-menu-item .el-link {
    padding-left: 50px !important;
}

.be-west .menu .el-submenu .el-submenu__title:hover,
.be-west .menu .el-menu-item:hover,
.be-west-popup-menu .el-menu-item:hover {
    background-color: transparent !important;
}

.be-west .menu .el-menu-item.is-active,
.be-west-popup-menu .el-menu-item.is-active {
    background-color: #4b5377 !important;
}

.be-west .menu .el-menu-item .el-link:hover,
.be-west-popup-menu .el-menu-item .el-link:hover,
.be-west .menu .el-submenu .el-submenu__title:hover i,
.be-west .menu .el-submenu .el-submenu__title:hover span,
.be-west .menu .el-submenu.is-opened .el-submenu__title i,
.be-west .menu .el-submenu.is-opened .el-submenu__title span,
.be-west .menu .el-submenu.is-active .el-submenu__title i,
.be-west .menu .el-submenu.is-active .el-submenu__title span,
.be-west-popup-menu .el-submenu.is-active .el-submenu__title i,
.be-west-popup-menu .el-submenu.is-active .el-submenu__title span,
.be-west .menu .el-menu-item.is-active i,
.be-west .menu .el-menu-item.is-active span,
.be-west-popup-menu .el-menu-item.is-active i,
.be-west-popup-menu .el-menu-item.is-active span {
    color: #fff;
}

.be-west .toggle {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    cursor: pointer;
    background-color: #22273b;
    text-align: center;
    color: #aaa;
    line-height: 40px;
}

.be-west .toggle:hover {
    color: #fff;
}

.be-north {
    position: fixed;
    left: 200px;
    right: 0;
    top: 0;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #cfd6db;
    z-index: 1000;
}

.be-north .north-links i {
    font-size: 16px;
    vertical-align: middle;
}

.be-north .lh-60 {
    line-height: 60px;
}

.be-north .el-dropdown-link {
    cursor: pointer;
}

.be-north-popup-menu .el-submenu .el-submenu__title:hover i,
.be-north-popup-menu .el-submenu .el-submenu__title:hover span,
.be-north-popup-menu .el-submenu.is-opened .el-submenu__title i ,
.be-north-popup-menu .el-submenu.is-opened .el-submenu__title span,
.be-north-popup-menu .el-submenu.is-active .el-submenu__title i,
.be-north-popup-menu .el-submenu.is-active .el-submenu__title span,
.be-north-popup-menu .el-menu-item.is-active i,
.be-north-popup-menu .el-menu-item.is-active span {
    /*color: #409EFF;*/
}

.be-middle {
    position: absolute;
    left: 200px;
    right: 0;
    top: 60px;
    bottom: 0;
    background-color: #eef0f5;
    overflow: auto;
}

.be-center {
    padding: 0 2rem;
}

.be-center .be-center-title {
    font-size: 1.25rem;
    height: 3.5rem;
    line-height: 3.5rem;
}

.be-center .be-center-body {
    padding: 1rem 1rem .5rem 1rem;
    background-color: #fff;
}

.CodeMirror{
    font-size : 13px;
    line-height : 150%;
    border: 1px solid #DCDFE6;
    min-height: 60px;
    height: auto !important;
}
