body {background-color: #fff;}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-thumb {background-color: #555;}
[v-cloak] {display: none;}
[class^="el-icon-fa"],
[class*="el-icon-fa"] {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: FontAwesome!important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.be-body {
}

.be-west {
    width: 200px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #001529;
    z-index: 999;
    overflow: hidden;
}

.be-west .logo {
    height: 48px;
    background: #eee url("../images/logo.png") no-repeat;
}
.be-west .logo a{
    display: block;
    height: 48px;
}

.be-west .west-menu {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 30px;
}

.be-west-collapse {
    width: 48px !important;
}

.be-west .toggle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: #202635;
    text-align: center;
    color: #505665;
    line-height: 30px;
}

.be-west .toggle:hover {
    background-color: #2F374C;
    color: #c2c6cf;
}

.be-middle {
    position: absolute;
    left: 200px;
    top: 0;
    right: 0;
    height: 100%;
}

.be-north {
    width: 100%;
    background-color: #eee;
    box-shadow: 0 0 5px #ddd;
    height: 48px;
    z-index: 998;
    position: fixed;
}

.be-north .menu {
    display: inline-block
}

.be-north .user {
    position: fixed;
    right: 5px;
    top: 0;
    height: 48px;
    line-height: 48px;
}

.be-center {
    overflow-y: scroll;
    height: calc(100% - 48px);
    margin-top: 48px;
}

.be-center .center-body {
    padding: 15px 15px 10px 15px;
}

.el-menu .el-link{display: block !important;}

.el-menu .el-link:hover{color: #333 !important;}
.be-west .el-menu .el-link:hover{color: #eee !important;}
.be-west .el-menu .el-link{color: #ccc !important;}

.el-menu .is-active .el-link:hover{color: #333 !important;}
.be-west .el-menu .is-active .el-link:hover{color: #eee !important;}

/* 顶部菜单头 */
.be-north .el-menu--horizontal>.el-submenu .el-submenu__title{
    height: 48px !important;
    line-height: 48px !important;
    padding: 0 10px !important;
}

/* 顶部菜单子项 */
.be-north .el-submenu .el-menu-item{
    padding: 0 0 0 10px !important;
}

/* 左侧菜单头 */
.be-west .el-submenu__title {
    height: 48px;
    line-height: 48px;
    padding: 0 0 0 10px !important;
}

/* 左侧菜单子项 */
.be-west .el-submenu .el-menu-item {
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 30px !important;
}

.be-west .el-submenu [class^=el-icon-] {
    font-size: 14px;
}

.be-west .el-menu--collapse{
    width: 48px;
}

/* 左侧菜单浮动子菜单 */
.el-menu-item, .el-submenu__title{
    height: 36px !important;
    line-height: 36px !important;
    padding: 0 0 0 10px !important;
}

/* 左侧菜单子项右侧多出1像素  */
.el-menu {
    border-right: none;
}

.CodeMirror{
    font-size : 13px;
    line-height : 150%;
    border: 1px solid #DCDFE6;
    min-height: 60px;
    height: auto !important;
}
