.admin_ui_category_tree a.home{display:inline-block; width:16px; height:16px;}
.admin_ui_category_tree a.home-1{background:url(../images/on.gif) no-repeat;}
.admin_ui_category_tree a.home-0{background:url(../images/on.gif) 0px -16px no-repeat;}