
.admin_ui_listing a.default{display:inline-block; width:16px; height:16px;}
.admin_ui_listing a.default-1{background:url(../images/on.gif) no-repeat;}
.admin_ui_listing a.default-0{background:url(../images/on.gif) 0px -16px no-repeat;}