html {
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

[class^="el-icon-fa"],
[class*="el-icon-fa"] {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.CodeMirror {
    font-size: 13px;
    line-height: 150%;
    border: 1px solid #DCDFE6;
    min-height: 60px;
    height: auto !important;
}

.be-center-title {
    font-size: 1.25rem;
    height: 3.5rem;
    line-height: 3.5rem;
}

