body {background-color: #fff; margin: 0; padding: 0;}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-thumb {background-color: #555;}
[v-cloak] {display: none;}
[class^="el-icon-fa"],
[class*="el-icon-fa"] {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: FontAwesome!important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    background-color: #409EFF;
}

.header .logo-container {
    width: 900px;
    margin: 0 auto;
    padding: 12px;
    margin-bottom: 30px;
}

.header .logo-container .logo {
    height: 50px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}

.header .logo-container .logo .txt {
    padding: 26px 0 0 200px;
    font-size: 14px;
    color: #fff;
}



.be-body {
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}



#steps {
    padding: 10px 0 30px 0;
}
