body {
    padding: 6px;
    margin: 0;
    font-size: 14px;
}

.el-form--label-top .el-form-item__label {
    padding: 0;
    line-height: 24px;
}

.el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
    margin-bottom: 12px;
}

.el-color-dropdown {
    width: 200px;
}
.el-color-svpanel {
    width: 180px;
}
.el-color-dropdown__value {
    width: 100px;
}