html {
    font-size: 14px;
    background-color: #eef0f5;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
}

[v-cloak] {display: none !important;}

.el-submenu__title i,
.el-menu-item i {
    color: inherit;
}

.el-submenu .el-link,
.el-menu-item .el-link {
    display: block;
}

.el-table th.el-table__cell {
    color: #666;
    background-color: #EBEEF5;
}

.be-west {
    width: 200px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #30354d;
    z-index: 999;
    overflow: hidden;
}

#app-west {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.be-west a {
    display: inline-block;
}

.be-west .logo {
    flex:0;
    height: 60px;
    background-color: #22273b;
}

.be-west .logo img,
.be-west .logo svg {
    width: 200px;
    height: 60px;
}

.be-west .menu {
    flex:1;
    overflow-x: hidden;
    overflow-y: auto;
}

.be-west .menu::-webkit-scrollbar {
    width: 6px;
}

.be-west .menu::-webkit-scrollbar-thumb {
    background-color: #59648f;
}

.be-west .menu::-webkit-scrollbar-track {
    background-color: #22273b;
}

.be-west .menu .el-menu {
    border-right: 0;
}

.be-west .menu .el-menu-item,
.be-west-popup-menu .el-menu-item,
.be-west .menu .el-submenu__title {
    height: 40px;
    line-height: 40px;
}

.be-west .menu .el-menu-item,
.be-west-popup-menu .el-menu-item {
    padding: 0 !important;
}

.be-west .menu .el-menu-item .el-link,
.be-west-popup-menu .el-menu-item .el-link {
    color: #aaa;
    padding-left: 20px !important;
}

.be-west .menu .el-menu-item .el-link span {
    margin-left: 0;
}

.be-west .menu .el-submenu .el-menu-item .el-link {
    padding-left: 50px !important;
}

.be-west .menu .el-submenu .el-submenu__title:hover,
.be-west .menu .el-menu-item:hover,
.be-west-popup-menu .el-menu-item:hover {
    background-color: transparent !important;
}

.be-west .menu .el-menu-item.is-active,
.be-west-popup-menu .el-menu-item.is-active {
    background-color: #4b5377 !important;
}

.be-west .menu .el-menu-item .el-link:hover,
.be-west-popup-menu .el-menu-item .el-link:hover,
.be-west .menu .el-submenu .el-submenu__title:hover i,
.be-west .menu .el-submenu .el-submenu__title:hover span,
.be-west .menu .el-submenu.is-opened .el-submenu__title i,
.be-west .menu .el-submenu.is-opened .el-submenu__title span,
.be-west .menu .el-submenu.is-active .el-submenu__title i,
.be-west .menu .el-submenu.is-active .el-submenu__title span,
.be-west-popup-menu .el-submenu.is-active .el-submenu__title i,
.be-west-popup-menu .el-submenu.is-active .el-submenu__title span,
.be-west .menu .el-menu-item.is-active i,
.be-west .menu .el-menu-item.is-active span,
.be-west-popup-menu .el-menu-item.is-active i,
.be-west-popup-menu .el-menu-item.is-active span {
    color: #fff;
}

.be-west .toggle {
    flex: 0;
    cursor: pointer;
    background-color: #22273b;
    text-align: center;
    color: #aaa;
    line-height: 40px;
}

.be-west .toggle:hover {
    color: #fff;
}

.be-north {
    position: fixed;
    left: 200px;
    right: 0;
    top: 0;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #cfd6db;
    z-index: 1000;
}

.be-north .north-links i {
    font-size: 16px;
    vertical-align: middle;
}

.be-north .lh-60 {
    line-height: 60px;
}

.be-north .el-dropdown-link {
    cursor: pointer;
}

.be-north-popup-menu .el-submenu .el-submenu__title:hover i,
.be-north-popup-menu .el-submenu .el-submenu__title:hover span,
.be-north-popup-menu .el-submenu.is-opened .el-submenu__title i ,
.be-north-popup-menu .el-submenu.is-opened .el-submenu__title span,
.be-north-popup-menu .el-submenu.is-active .el-submenu__title i,
.be-north-popup-menu .el-submenu.is-active .el-submenu__title span,
.be-north-popup-menu .el-menu-item.is-active i,
.be-north-popup-menu .el-menu-item.is-active span {
    /*color: #409EFF;*/
}

.be-middle {
    margin-top: 60px;
    margin-left: 200px;
    overflow: auto;
}

.be-page-title {
    font-size: 1.25rem;
    height: 3.5rem;
    line-height: 3.5rem;
}

.be-page-content {
}

.be-dialog,
.be-drawer {
    z-index: 999999 !important;
}

.be-dialog .el-dialog__body {padding: 0 5px;}

.el-drawer__header {
    padding: 10px 20px 20px 20px;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

