html {
    background: #FFF;
}

body {
    text-align: center;
    background-color: #fff;
}

#app {
    margin: 0 auto;
    width: 350px;
}

.logo {
    margin: 50px 0 0 0;
}

.logo svg {
    width: 64px;
    height: 64px;
    margin: 0 20px;
}

.logo .logo-text {
    text-align: left;
    font-size: 28px;
    line-height: 64px;
    color: #999;
    font-weight: lighter;
}

.logo .logo-text span {
    color: #f60;
}

.login-box {
    text-align: left;
    margin-top: 40px;
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #bbb;
}
