html {
    background: #FFF;
}

body {
    text-align: center;
    background-color: #fff;
}

#app {
    margin: 0 auto;
    width: 350px;
}

.logo {
    margin: 50px 0 0 0;
}

.logo img,
.logo svg {
    width: 300px;
    height: 90px;
}

.login-box {
    text-align: left;
    margin-top: 40px;
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #bbb;
}
